# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environment Virtual Environtments bisa dipakai
.venv/
venv/
ENV/
env/
pip-selfcheck.json

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/
.history/

# PyCharm
.idea/
*.iml

# Local env files -> Berisi File Konfiturasi yang bersifat Rahasia Dokumentasi di sediakan di README.md
.env
.env.*
*.env
*.local

# Alembic migration files (optional, kadang mau dikasih di repo juga)
alembic/versions/*.pyc

# Logs
*.log

# Mac
.DS_Store